* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 100%;
}

nav {
    background-color: #142850;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

nav h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    letter-spacing: 10px;
}

nav p {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 12px;
}

nav .masuk {
    border-radius: 10px;
    padding: 10px;
    background-color: #27496D;
}

nav .masuk a {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.masuk:hover {
    background-color: #ffffff;
    transition: all ease .3s;
}

.masuk a:hover {
    color: #142850;
    transition: all ease .3s;
}

.profile-1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0 5vw;
}

.profile-2 {
    color: #fff;
    background-color: #142850;
    height: 100vh;
    display: flex;
    flex-direction: r;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0 5vw;
}

.img-profile img {
    object-fit: cover;
    height: 420px;
    width: 320px;
}

.text-profile {
    width: 600px;
    height: 420px;
}

.text-profile h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.text-profile p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 36px;
    text-align: justify;
    margin-bottom: 12px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 32px;
}

.footer {
    width: 360px;
    margin: 12px;
}

footer h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

footer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 20px;
    text-align: justify;
    margin-top: 12px;
}

/* Media Query */